<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Tiny App</title>
  </head>

  <body>
    <% include partials/_header.ejs %>
    <a href="/u/<%= url.shortUrl%>">http://tinyapp.com/u/<%= url.shortUrl %></a>

    <form action="/urls/<%= url.shortUrl %>" method="post">
      <p>
        <label for="long-url-input">long URL</label>
        <input id="long-url-input" name="newLongURL" value="<%= url.longUrl %>">
      </p>
    <p>
      <button>Update</button>
    </p>
    <p><a href="/urls">All my tiny URLS</a></p>
    </form>
  </body>
</html>