<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Tiny App</title>
  </head>

  <body>
    <% include partials/_header.ejs %>
    <h3>My URLs</h3>
    <% if (user) { %>
    <ul>
      <% for(var url of urls) { %>
      <li>
        <%= url.shortUrl + ": " + url.longUrl %>
        <form action="/urls/<%= url.shortUrl %>/delete" method="POST">
        <a href="/urls/<%= url.shortUrl %>">Edit</a>
        <button>Delete</button>
        <br><br>
        </form>
      </li>
      <% } %>
    </ul>
    <% } %>
    <a href="/urls/new">Create new URL</a>
  </body>
</html>